@import "footer";
@import "header";
/*       CODIGO SOBRE    FAQ        */
 
.containerpreg{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
    .titulofaq{
    font-size: 60px;
    padding: 20px 20px;
    font-weight: bold;
    }
        .primeraysegunda{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 50px;
        margin-top: 30px;
        }
        .terceraycuarta{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 30px;
        }
 
 
.pregunta{
    padding: 30px 30px;
    height: 60%;
    width: 30%;
    border: solid 5px rgb(9, 9, 85);
    line-height: 30px;
}
    .contenpreg__p{
    font-size: 25px;
    }
    .contenpreg__p--rta{
    padding-top: 20px;
    font-size: 20px;
    }
 

 
/*   GRIDS FAQ     */
 
.containergrid5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "preguntas preguntas preguntas preguntas"
    "piepagina piepagina piepagina piepagina";
}
 
.encabezado{
    grid-area: encabezado;
}
 
.containerpreg{
    grid-area: preguntas;    
}
 
.piepagina{
    grid-area: piepagina;
}
 
 
 
/* MEDIA QUERIES FAQ PARA TABLET */
 
 
@media screen and (max-width:1023px) and (min-width:768px) {
    .containergrid5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado encabezado encabezado"
        "preguntas preguntas preguntas"
        "piepagina piepagina piepagina";
    }
         
    .encabezado{
        grid-area: encabezado;
    }
         
    .containerpreg{
        grid-area: preguntas;
        grid-column: 1 / 4;
        display: flex;
        justify-content: center;
    }
        .titulofaq{
        font-size: 60px;
        padding: 20px 20px;
        text-align: center;
        }
        .pregunta{
        width: 40%;
        }
    
    .piepagina{
        grid-area: piepagina;
    }

}
 
/*MEDIA QUERIES DE FAQ TAMANO CELULAR*/
 
 
@media screen and (max-width:767px) and (min-width:350px) {
    .containergrid5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado"
        "preguntas"
        "piepagina";
    }
   
    .encabezado{
        grid-area: encabezado;
    }
        .encabezado__logo{
            display: flex;
            justify-content: flex-start;
            margin-left: 10px;
        }
 
     
    .containerpreg{
        grid-area: preguntas;
        grid-column: 1/2;
    }
        .titulofaq{
        font-size: 40px;
        }
        .primeraysegunda{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        }
            .pregunta{
            width: 70%;
            }
        .terceraycuarta{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
 
    .piepagina{
        grid-area: piepagina;  
    }
        
}
