.piepagina{
    background: rgb(255,255,255);
    background: linear-gradient(104deg, rgba(255,255,255,1) 0%, rgba(26,56,106,0.8855917366946778) 67%);
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}
 
@media screen and (max-width:1023px) and (min-width:768px) {
    .piepagina{
        grid-area: piepagina;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
}