@import "header";
@import "contactanos";
@import "footer";
@import "sobre-nosotros";
@import "servicios";
@import "faq";

*{
    margin: 0;
    padding: 0%;
}
 
.body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color:rgb(255, 255, 255);
    color: rgb(9, 9, 85);
    width: auto;
}
 
 
 
/*         INDEX CODIGO         */
 
/*GRIDS*/
 
.containergrid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "grid grid grid grid"
    "piepagina piepagina piepagina piepagina"
}
 
.encabezado{
    grid-area: encabezado;
}
 
.principalgrid{
    grid-area: grid;
}
 
.piepagina{
    grid-area: piepagina;
}
 
/*    CODIGO  INDEX    */  
 

.principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .carousel{
    padding-top: 20px;
    }
    .principal__texto{
    padding-bottom: 30px;
    }
        .principal__texto .principal__titulo{
        font-size: 60px;
        padding: 30px 30px;
        border-top: solid rgb(255, 255, 255) 2px;
        }
        .principal__texto .principal__parrafo{
        font-size: 20px;
        font-weight: normal;
        padding: 20px 20px;
        }
}



/*    MEDIA QUERIES  INDEX  TAMANO TABLET    */
 
@media screen and (max-width:1023px) and (min-width:768px) {
    .containergrid1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "encabezado encabezado encabezado"
        "grid grid grid"
        "piepagina piepagina piepagina"}
        
    .encabezado{
        grid-area: encabezado;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;}    
        .encabezado__logo{
            display: flex;
            justify-content: flex-start;
            height: 130px;
            margin-left: 25px;
        }
        .titulomenu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        }
            .titulomenu .encabezado__titulo{
            display: flex;
            font-size: 25px;
            }
    
    .principalgrid{
        grid-area: grid;} 
        .principalgrid .principal .contenedor2{
        margin-left: 20%;
        }
        .principalgrid .principal .carousel{
        display: none;
        }

} 
/*     MEDIA QUERIES       INDEX   TAMANO    CELULAR*/
@media screen and (max-width:767px) and (min-width:350px) {
    .containergrid1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado"
        "grid"
        "piepagina"}
        
    .encabezado{
        grid-area: encabezado;
        height: 280px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center; }   
        .encabezado__logo{
            display: flex;
            justify-content: flex-start;
            margin-left: 15px;
            height: 120px
        }
        .titulomenu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 15px;
        align-items: center
        }
            .titulomenu .encabezado__titulo{
            display: flex;
            font-size: 25px;
            }


    .principalgrid{
    grid-area: grid;}
        .principal{
            .principal__parrafo{
            font-size: 15px;
            }
            .principal__titulo{
            font-size: 40px;}
            .carousel{
            display: none;}  
        
            .contenedor1{
            display: flex;
            flex-direction: column;
            }
                .contenedor1 .principal__parrafos{
                font-size: 15px;
                }
                .contenedor1 .principaltitulos1{
                font-size: 15px;
                }
            .contenedor2{
            display: flex;
            flex-direction: column;
            margin-left: 10%;
            }
                .contenedor2 .principaltitulos2{
                font-size: 15px;
                }
                .contenedor2 .principal__parrafos{
                @extend .principal__parrafos;
                }
                .contenedor3{
                display: flex;
                flex-direction: column;
                }
                .contenedor3 .principaltitulos3{
                font-size: 15px;
                }
                .contenedor3 .principal__parrafos{
                @extend .principal__parrafos;
                } 
        } 
    .piepagina{
        display: flex;
        flex-direction: column;
        grid-area: piepagina;  
        font-size: 15px;
    }
}


@mixin contenedor123 ($mnlf) {
    display: flex;
    width: 80%;
    height: 60%;
    gap: 20px;
    padding: 20px 20px 50px 50px;
    border-top: solid;
    font-weight: bold;
    margin-left: $mnlf}    
    
    .contenedor1{
        @include contenedor123 (5rem);
        padding-bottom: 100px;
        border-left: solid}
    
    
    .contenedor2{
        @include contenedor123 (50px);
        border-right: solid;
        padding-bottom: 5%}
       
        
    .contenedor3{
        @include contenedor123(5rem);
        border-left: solid}
