*{
    margin: 0;
    padding: 0%;
}
 
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color:rgb(255, 255, 255);
    color: rgb(9, 9, 85);
    width: auto;
}
 

.encabezado{
    background: rgb(163, 169, 181);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
 
.encabezado__logo{
    display: flex;
    padding: 15px  20px 30px 0px;
    height: 140px;
    margin-left: 100px;
}
 
.titulomenu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    font-family: 'Noto Serif', serif;
    padding-bottom: 20px;
    display: flex;
}

.encabezado__titulo{
    font-size: 40px;
}
 
.encabezado__menu--nav li{
    display: inline-block;
    position: relative;
    padding-top: 15px;
}
 
.encabezado__menu--nav li:hover .encabezado__submenu{
    display: block;
}
 
.encabezado__submenu{
    background-color: rgb(163, 169, 181);
    color: rgb(241, 241, 241);
    position: absolute;
    display: none;
    width: 100%;
}
 
.encabezado__submenu li a{
    display: block;
}
 
.encabezado__menu li a{
    padding: 0px 20px;
    text-decoration: none;
    color: rgb(9, 9, 85);
    font-size: 20px;
}
 
.encabezado__menu li a:hover{
    color: rgb(241, 241, 241);
}
 
.piepagina{
    background: rgb(163, 169, 181);
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}
 
 
 
/*         INDEX CODIGO         */
 
/*GRIDS*/
 
.containergrid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "grid grid grid grid"
    "piepagina piepagina piepagina piepagina"
}
 
.encabezado{
    grid-area: encabezado;
}
 
.principalgrid{
    grid-area: grid;
}
 
.piepagina{
    grid-area: piepagina;
}
 
/*    CODIGO  INDEX    */  
 

.principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
 
.imgpri{
    padding-top: 25px;
}
 
.principal__titulo{
    font-size: 60px;
    padding: 30px 30px;
    border-top: solid rgb(255, 255, 255) 2px;
}
 
.principal__parrafo{
    font-size: 20px;
    font-weight: normal;
    padding: 20px 20px;
}
 
.principal__texto{
    padding-bottom: 30px;
}
 
.contenedor1{
    display: flex;
    flex-direction: column;
    border-left: solid;
    border-top: solid;
    height: 60%;
    width: 60%;
    padding: 20px 20px 50px 50px;
    margin-left: 50px;
}
 
.contenedor2{
    display: flex;
    flex-direction: column;
    border-right: solid;
    border-top: solid;
    height: 60%;
    width: 60%;
    padding: 20px 20px 50px 50px;
    margin-left: 200px;  
}
 
.contenedor3{
    display: flex;
    flex-direction: column;
    border-left: solid;
    border-top: solid;
    height: 60%;
    width: 60%;
    padding: 20px 20px 50px 50px;
    margin-left: 50px;
}
 
.principal__parrafos{
    padding-top: 5px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}
 
.principal__titulos1{
    font-size: 25px;
}
 
 
.principal__titulos2{
    font-size: 25px;
}
 
.principal__titulos3{
    font-size: 25px;
}
 
 
/*    MEDIA QUERIES  INDEX  TAMANO TABLET    */
 
@media screen and (max-width:768px)  {
    .containergrid1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "encabezado encabezado encabezado"
        "grid grid grid"
        "piepagina piepagina piepagina"
    }
     
    .encabezado{
        grid-area: encabezado;
    }
    
    .principalgrid{
        grid-area: grid;
    }
     
    .piepagina{
        grid-area: piepagina;
    }
    
    .imagenprincipal{
        display: none;
    }

    .contenedor2{
        margin-left: 20%;
    }
 
    .encabezado{
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
        justify-content: flex-start;
    }
  
    .encabezado__titulo{
        display: flex;
        font-size: 25px;
        margin-left: 80px;
    }

    .encabezado__logo{
        display: flex;
        justify-content: flex-start;
        margin-left: 150px;
    }

    .encabezado__menu{
        margin-left: 110px ;
    }
 
    .encabezado__menu li a{
        padding: 0px 10px;
        font-size: 20px;
    }
 
    .titulomenu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
 
}
 
/*     MEDIA QUERIES       INDEX   TAMANO    CELULAR*/
 
@media screen and (max-width:425px) {
    .containergrid1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado"
        "grid"
        "piepagina"
    }
   
    .encabezado{
        grid-area: encabezado;
    }
     
    .principalgrid{
        grid-area: grid;
    }
     
    .piepagina{
        grid-area: piepagina;  
        font-size: 15px;
    }
 
    .encabezado{
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
        justify-content: center;
    }
 
    .encabezado__logo{
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }
 
    .encabezado__menu{
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
    }
 
    .encabezado__menu--nav{
        font-size: 10px;
    }
    .encabezado__titulo{
        display: flex;
        font-size: 30px;
        justify-content: center;
        margin-left: 20px;
    }   

    .encabezado__menu li a{
        font-size: 15px;
        padding: 5px 5px;
    }
 
    .principal__parrafo{
        font-size: 15px;
    }
 
    .principal__parrafos{
        font-size: 15px;
    }
 
    .principaltitulos1{
        font-size: 15px;
    }
 
    .principaltitulos2{
        font-size: 15px;
    }
 
    .principaltitulos3{
        font-size: 15px;
    }
 
    .principal__img{
        display: none;
    }
   
    .principal__titulo{
        font-size: 40px;
    }

    .contenedor2{
        margin-left: 0%;
    } 
   
    .titulomenu{
        display: flex;
        font-size: 15px;
        align-items: center;
    }
}


/*   CSS    SERVICIOS    */
 
 
.cuerpo__tituloserv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    font-size: 50px;
}
 
.contenedor__serv--comerc{
    height: 60%;
    width: 30%;
    border: solid 5px rgb(9, 9, 85);
    padding: 50px 50px;
    text-align: center;
    background-image: url(../multimedia/comercial.jpg);
}
 
.contenedor__serv--suces{
    height: 60%;
    width: 30%;
    border: solid 5px rgb(9, 9, 85);
    padding: 50px 50px;
    text-align: center;
    background-image: url(../multimedia/sucesiones.jpg);
}
 
.comercialysucesiones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}
 
.contenedor__serv--flia{
    height: 60%;
    width: 30%;
    border: solid 5px rgb(9, 9, 85);
    padding: 50px 50px;
    text-align: center;
    background-image: url(../multimedia/flia.jpg);
}
 
.contenedor__serv--civ{
    height: 60%;
    width: 30%;
    border: solid 5px rgb(9, 9, 85);
    padding: 50px 50px;
    text-align: center;
    background-image: url(../multimedia/civil.jpg);
}
 
.familiaycivil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
 
.servicios__titulo{
    font-size: 25px;
    padding-bottom: 15px;
}
 
.servicios__parrafo{
    font-size: 20px;
    font-weight: bolder;
}
 
 
/*    GRIDS SERVICIOS     */
 
.containergrid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "servicios servicios servicios servicios"
    "piepagina piepagina piepagina piepagina";
}
     
.encabezado{
    grid-area: encabezado;
}
     
.cuerposervicios{
    grid-area: servicios;
    grid-column: 1 / 5;
}
     
.piepagina{
    grid-area: piepagina;
}
 
/*MEDIA QUERIES DE SERVICIOS TAMANO TABLET*/
 
@media screen and (max-width:768px) {
    .containergrid2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado encabezado encabezado"
        "servicios servicios servicios"
        "piepagina piepagina piepagina";
    }
         
    .encabezado{
        grid-area: encabezado;
    }
         
    .cuerposervicios{
        grid-area: servicios;
        grid-column: 1 / 4;
    }
         
    .piepagina{
        grid-area: piepagina;
    }

}

/*    MEDIA QUERIES DE SERVICIOS TAMANO CELULAR*/
 
@media screen and (max-width:425px) {
    .containergrid2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "encabezado"
        "servicios"
        "piepagina";
    }
         
    .encabezado{
        grid-area: encabezado;
    }
         
    .cuerposervicios{
        grid-area: servicios;
        grid-column: 1 / 2;
    }
         
    .piepagina{
        grid-area: piepagina;
    }
 
    .cuerpo__tituloserv{
        font-size: 40px ;
    }
 
    .contenedor__servgrid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
    .comercialysucesiones{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
 
    .familiaycivil{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
 
    .servicios__parrafo{
        font-size: 20px;
    }
 
    .servicios__titulo{
        font-size: 25px;
    }
 
    .contenedor__serv--comerc{
        width: 60%;
    }
 
    .contenedor__serv--civ{
        width: 60%;
    }
 
    .contenedor__serv--flia{
        width: 60%;
    }
 
    .contenedor__serv--suces{
        width: 60%;
    }
}


/*           CODIGO SOBRE NOSOTROS     */
 
 
 
.introduccion{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
 
.nosotros__titulo{
    font-size: 60px;
    padding: 20px 20px;
    font-weight: bold;
}
 
.nosotros__titulo--historia{
    line-height: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}
 
.sobrenosotros{
    display: flex;
    flex-direction: column;
    text-align: center;
}
 
.equipo{
    font-size: 40px;
    padding: 20px 20px;
    font-weight: bold;
}
 
.abogado__img--texto{
    padding-left: 150px;
    padding-right: 150px;
    line-height: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 20px;
}
 
.abogado1__img{
    padding: 5px 5px;
    border: solid 5px rgb(9, 9, 85);
}
 
.abogado2__img{
    padding: 5px 5px;
    border: solid 5px rgb(9, 9, 85);
}
 
.abogado3__img{
    padding: 5px 5px;
    border: solid 5px rgb(9, 9, 85);
}
 
 
/* GRIDS PARA SOBRE NOSOTROS */
 
.containergrid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "presentacion presentacion presentacion presentacion"
    "piepagina piepagina piepagina piepagina";
}
     
.encabezado{
    grid-area: encabezado;
}
     
.cuerponosotros{
    grid-area: presentacion;
    grid-column: 1 / 5;
}
     
.piepagina{
    grid-area: piepagina;
}
 
 
/*MEDIA QUERIES DE NOSOTROS TAMANO TABLET*/
 
@media screen and (max-width:768px) {
    .containergrid3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado encabezado encabezado"
        "presentacion presentacion presentacion"
        "piepagina piepagina piepagina";
    }
         
    .encabezado{
        grid-area: encabezado;
    }
         
    .cuerponosotros{
        grid-area: presentacion;
        grid-column: 1 / 4;
    }
         
    .piepagina{
        grid-area: piepagina;
    }
 
    
}
 
/*MEDIA QUERIES DE NOSOTROS TAMANO CELULAR*/
 
@media screen and (max-width:425px) {
    .containergrid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "encabezado"
        "nosotros"
        "piepagina"
    }
   
    .encabezado{
        grid-area: encabezado;
 
    }
     
    .cuerponosotros{
        grid-area: nosotros;
        grid-column: 1/2;
    }
 
    .piepagina{
        grid-area: piepagina;  
    }
 
    
    .abogado__img--texto{
        padding-left: 50px;
        padding-right: 50px;
    }
 
    .introduccion{
        padding-left: 20px;
        padding-right: 20px;
    }
 
    .abogado1__img{
        width: 60%;
    }
 
    .abogado2__img{
        width: 60%;
    }
 
    .abogado3__img{
        width: 60%;
    }
 
    .nosotros__titulo--historia{
        font-size: 15px;
    }
 
    .nosotros__titulo{
        font-size: 30px;
    }
 
    .abogado__img--texto {
        font-size: 15px;
 
    }

}

/*      CODIGO SOBRE   CONTACTANOS      */
 
 
.contenedorform{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 
.cuerpo__titulocontacto{
    font-size: 60px;
    text-align: center;
    padding: 20px 20px;
}

.caso{
    font-weight: bold;
    font-size: 20px;
}
 
.datos{
    font-weight: bold;
    font-size: 20px;
}
 
.boton{
    padding-top: 20px;
}
 
.contenedormapa{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.titulomapa{
    padding-top: 50px;
    font-size: 30px;
}

.direccion{
    font-size: 25px;
}
 
 
/*    GRIDS PARA CONTACTANOS    */
 
.containergrid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "contacto contacto contacto contacto"
    "piepagina piepagina piepagina piepagina";
}
     
.encabezado{
    grid-area: encabezado;
}
     
.cuerpocontacto{
    grid-area: contacto;
    grid-column: 1 / 5;
}
     
.piepagina{
    grid-area: piepagina;
}
 
 
/*MEDIA QUERIES DE CONTACTO TAMANO TABLET*/
 
 
 
@media screen and (max-width:768px) {
    .containergrid4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado encabezado encabezado"
        "contacto contacto contacto"
        "piepagina piepagina piepagina";
    }
         
    .encabezado{
        grid-area: encabezado;
    }
         
    .cuerpocontacto{
        grid-area: contacto;
        grid-column: 1 / 4;
    }
         
    .piepagina{
        grid-area: piepagina;
    }
 
      
    .titulocontacto{
        text-align: center;
    }
 
}
 
/*MEDIA QUERIES DE CONTACTANOS TAMANO CELULAR*/
 
 
 
@media screen and (max-width:425px) {
    .containergrid4{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "encabezado"
        "contacto"
        "piepagina";
    }
   
    .encabezado{
        grid-area: encabezado;
    }
 
    .cuerpocontacto{
        grid-area: contacto;
        grid-column: 1 / 2;
    }
         
    .piepagina{
        grid-area: piepagina;
    }
 
    
    .contenedorform{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }   
 
    .titulocontacto{
        font-size: 17px;
        padding: 20px 20px;
    }
 
    .cuerpo__titulocontacto{
        font-size: 30px;
    }

    .contenedormapa{
        display: none;
    }
}


/*       CODIGO SOBRE    FAQ        */
 
.containerpreg{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
 
.titulofaq{
    font-size: 60px;
    padding: 20px 20px;
    font-weight: bold;
}
 
.primeraysegunda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 30px;
}
 
.terceraycuarta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
 
 
.pregunta{
    padding: 30px 30px;
    height: 60%;
    width: 30%;
    border: solid 5px rgb(9, 9, 85);
    line-height: 30px;
}
 
.contenpreg__p--rta{
    padding-top: 20px;
    font-size: 20px;
}
 
.contenpreg__p{
    font-size: 25px;
}
 
/*   GRIDS FAQ     */
 
.containergrid5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "preguntas preguntas preguntas preguntas"
    "piepagina piepagina piepagina piepagina";
}
 
.encabezado{
    grid-area: encabezado;
}
 
.containerpreg{
    grid-area: preguntas;    
}
 
.piepagina{
    grid-area: piepagina;
}
 
 
 
/* MEDIA QUERIES FAQ PARA TABLES */
 
 
@media screen and (max-width:768px) {
    .containergrid5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado encabezado encabezado"
        "preguntas preguntas preguntas"
        "piepagina piepagina piepagina";
    }
         
    .encabezado{
        grid-area: encabezado;
    }
         
    .containerpreg{
        grid-area: preguntas;
        grid-column: 1 / 4;
        display: flex;
        justify-content: center;
    }
         
    .piepagina{
        grid-area: piepagina;
    }
 
   
 
    .titulofaq{
        font-size: 60px;
        padding: 20px 20px;
        text-align: center;
    }
}
 
/*MEDIA QUERIES DE FAQ TAMANO CELULAR*/
 
 
@media screen and (max-width:480px) {
    .containergrid5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "encabezado"
        "preguntas"
        "piepagina";
    }
   
    .encabezado{
        grid-area: encabezado;
 
    }
     
    .containerpreg{
        grid-area: preguntas;
        grid-column: 1/2;
    }
 
    .piepagina{
        grid-area: piepagina;  
    }
 
    
       
    .pregunta{
    width: 70%;
    }
 
    .primeraysegunda{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
 
    .terceraycuarta{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
 
    .encabezado__logo{
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }
 
    .titulofaq{
        font-size: 40px;
    }
 
}

 

